:root {
  --b-link: #61bfb6;
  --b-focus: #61bfb6;
}

/* ENCABEZADO */
header {
  /*background: #61bfb6; */
  color: white; 
  padding: 0.5px; 
  text-align: center; 
}

/* ALERT BOXES */
.alert {
    margin-bottom: 1.5rem;
    padding:.5rem .75rem;
    max-width:100%;
    border:0;
    border-radius:.25rem;
    font:inherit;
    line-height:1.125;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
}

.primary {
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
}

.secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border: 1px solid #d6d8db;
}

.dark {
    color: #fff;
    background-color: #343a40;
    border: 1px solid #6c757d;
}

/* TEXTO PARA VALIDAR INPUT TEXT */

.problema {
  color: #e04d5c;
}

.exito {
  color: #d4edda;
}

/* NAVBAR */

.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font: 1.2em;

  display: flex;
}

.main-nav a {
  padding: 0.5em 1em;
  display: block;
}

.main-nav p {
  padding: 0.5em 1em;
  display: block;
}

.push {
  margin-left: auto;
}